Deep Learning for Data Imputation

![](imputation.png)

## Introduction
* Data imputation is a technique used to fill in missing values in a dataset. 
* It is a common practice in data preprocessing. 
* There are several ways to impute missing values, such as using the mean, median, mode, or a constant value to fill in the missing data. 
* However, these methods are not always accurate or efficient, especially when dealing with large datasets or complex data structures.

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

## Load Data with Missing Values

In [2]:
df = pd.read_csv('ExampleData.csv')

## Show Data

In [3]:
df.head()

   Height   YOE  Salary
0   175.0   3.0     6.0
1   168.0   4.0     9.0
2   160.0  10.0    18.0
3     NaN  15.0    25.0
4   161.0   NaN    50.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  20 non-null     float64
 1   YOE     22 non-null     float64
 2   Salary  22 non-null     float64
dtypes: float64(3)
memory usage: 732.0 bytes

In [5]:
df.describe()

           Height        YOE     Salary
count   20.000000  22.000000  22.000000
mean   168.700000   7.045455  17.590909
std      7.226414   3.359100  14.147721
min    160.000000   3.000000   6.000000
25%    161.750000   5.000000  10.000000
50%    169.000000   6.500000  11.500000
75%    175.000000   8.750000  18.000000
max    180.000000  15.000000  50.000000

In [6]:
df.isnull().sum()

Height    5
YOE       3
Salary    3
dtype: int64

## Fill Missing Values with Linear Regression

In [7]:
lr = LinearRegression()
imputer = IterativeImputer(estimator=lr)
df_imputed = imputer.fit_transform(df)

## Data Imputation Results

In [8]:
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)
df_imputed.head()

       Height        YOE  Salary
0  175.000000   3.000000     6.0
1  168.000000   4.000000     9.0
2  160.000000  10.000000    18.0
3  165.275222  15.000000    25.0
4  161.000000  31.706376    50.0

In [9]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  25 non-null     float64
 1   YOE     25 non-null     float64
 2   Salary  25 non-null     float64
dtypes: float64(3)
memory usage: 732.0 bytes

In [11]:
df_imputed.describe()

           Height        YOE     Salary
count   25.000000  25.000000  25.000000
mean   168.548500  10.004765  16.968229
std      6.513479   8.761896  13.345414
min    160.000000   3.000000   6.000000
25%    162.000000   5.000000  10.000000
50%    169.720689   7.000000  12.000000
75%    172.000000  10.000000  18.000000
max    180.000000  31.706376  50.000000

In [12]:
df_imputed.isnull().sum()

Height    0
YOE       0
Salary    0
dtype: int64

## KNN Imputation
KNN Imputation is another technique(nearest neighbors) to fill missing values in a dataset.

In [13]:
from sklearn.impute import KNNImputer

knn_imputer = KNNImputer(n_neighbors=2)
df_imputed_knn = knn_imputer.fit_transform(df)

df_imputed_knn = pd.DataFrame(df_imputed_knn, columns=df.columns)
df_imputed_knn.head()

   Height   YOE  Salary
0   175.0   3.0     6.0
1   168.0   4.0     9.0
2   160.0  10.0    18.0
3   160.0  15.0    25.0
4   161.0  10.0    50.0

## Fill Missing Values with Mean

In [14]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean') # mean, median, most_frequent, constant
df_imputed_mean = imputer.fit_transform(df)

df_imputed_mean = pd.DataFrame(df_imputed_mean, columns=df.columns)
df_imputed_mean.head()

   Height        YOE  Salary
0   175.0   3.000000     6.0
1   168.0   4.000000     9.0
2   160.0  10.000000    18.0
3   168.7  15.000000    25.0
4   161.0   7.045455    50.0

## Fill Missing Values with Mice
Miceforest is a library that uses the MICE algorithm to impute missing values in a dataset.

In [16]:
# !pip install miceforest

In [27]:
import miceforest as mf

mc_imputer = mf.ImputationKernel(df)
mc_imputer.complete_data()
# df_imputed_mice = pd.DataFrame(mc_imputer.impute_new_data(df).data, columns=df.columns)
# df_imputed_mice.head()

    Height   YOE  Salary
0    175.0   3.0     6.0
1    168.0   4.0     9.0
2    160.0  10.0    18.0
3    160.0  15.0    25.0
4    161.0   4.0    50.0
5    162.0   5.0    10.0
6    180.0   6.0    11.0
7    180.0   7.0    18.0
8    172.0   8.0    12.0
9    170.0   9.0    14.0
10   175.0   3.0     6.0
11   168.0   4.0     9.0
12   160.0  10.0    18.0
13   180.0  15.0    25.0
14   161.0   3.0    50.0
15   162.0   5.0    10.0
16   180.0   6.0    11.0
17   172.0   7.0    25.0
18   172.0   8.0    12.0
19   170.0   9.0    14.0
20   161.0  15.0    50.0
21   162.0   5.0    10.0
22   180.0   6.0    11.0
23   175.0   7.0     9.0
24   175.0   3.0     6.0

## MissingPy

In [ ]:
# !pip install missingpy

## FFill and BFill
* Forward fill (ffill) and backward fill (bfill) are two simple techniques to fill missing values in a dataset.

In [ ]:
df.ffill()
df.bfill()

## Conclusion