# Recommendation system - Popularity Based

## Overview
Recommendation systems are a collection of algorithms used to recommend items to users based on information taken from the user. These systems have become ubiquitous, and can be commonly seen in online stores, movies databases and job finders. In this notebook, we will explore recommendation systems based on Collaborative Filtering and implement simple versions of them using Python and the Pandas library.

## Problem Statement
The dataset we will use is the MovieLens Dataset. It contains 100k movie ratings from 943 users and a selection of 1682 movies. We will use Python and the Pandas library to implement two simple recommendation systems: one based on the mean of the user's ratings, and the other based on user-user collaborative filtering.

## Obvious Applications
1. Amazon - Product Recommendations
2. Netflix - Movie Recommendations
3. Pandora - Music Recommendations
4. Yelp - Recommendations for restaurants, businesses, etc.
5. Goodreads - Book Recommendations
6. Facebook - Friend Recommendations
7. LinkedIn - Job Recommendations
8. YouTube - Video Recommendations
9. Twitter - Who to Follow Recommendations
10. Instagram - Who to Follow Recommendations
11. Spotify - Music Recommendations
12. Google - Search Recommendations
13. Airbnb - Travel Recommendations
14. Uber - Ride Recommendations
15. eBay - Product Recommendations
16. Pinterest - Image Recommendations
17. Reddit - Post Recommendations

## Collaborative Filtering
Collaborative filtering is a technique used by recommendation systems to make predictions about an interest of a user by collecting preferences from many users. The underlying assumption is that if a user A has the same opinion as a user B on an issue, A is more likely to have B's opinion on a different issue than that of a randomly chosen user. There are two main types of collaborative filtering: user-based and item-based. In either scenario, the system has the preferences of a group of users on a set of items. It uses this information to recommend items to users. In general, collaborative filtering is the workhorse of recommender engines. The algorithm has a very interesting property of being able to do feature learning on its own, which means that it can start to learn for itself what features to use. It can be divided into Memory-Based Collaborative Filtering and Model-Based Collaborative filtering. In this notebook, we will implement Model-Based CF by using singular value decomposition (SVD) and Memory-Based CF by computing cosine similarity.

## Starting Pont: Matrix Factorization
Matrix factorization is a class of collaborative filtering algorithms used in recommender systems. Matrix factorization algorithms work by decomposing the user-item interaction matrix into the product of two lower dimensionality rectangular matrices. The user-item interaction matrix is a matrix of size m x n, where m is the number of users and n is the number of items. Each cell in the matrix represents the rating given by a user to an item. The goal of matrix factorization is to learn the latent preferences of users and the latent attributes of items from known ratings (learn features that describe the characteristics of ratings) to then predict the unknown ratings through the dot product of the latent features of users and items. Matrix factorization can be done through Singular Value Decomposition (SVD) or Alternating Least Squares (ALS). In this notebook, we will use Singular Value Decomposition.

## Defining our error
In Ml, defining the error (or loss, or cost) is often the core of defining the objetive solution. Once we define the error, we can ussually plug it into a canned solver which can minize it. Definin the error can be obvious, or very subtle, or have multiple acceptable methods.

### Clustering
for k-means we simply used the distance from the centroid as the error. This is a very common approach.

### Image Recognition:
if our algorithm tags a picture of a cat as a dog, is that a larger error than if it tags it as a horse? or a car? How would you quantify that? This is a very hard problem, and the error function is not at all obvious. 

### Regression
Do you want to penalize a lot of medium errors more than an occasional large error? Then you might use the sum of the squares of the errors. This is called the L2 norm.

### Recommender
we will take the mean square error distance between our given matrix and our approximation as a starting point.

## Roadmap
1. Load the dataset and explore it.
2. create ALS model
3. Train it with varying ranks(k) to find reasonable hyperparameters.
4. Add a new user
5. Get top recommendations for a user

## Dataset 
We will use the MovieLens dataset, which is one of the most common datasets used when implementing and testing recommendation engines. It contains 100k movie ratings from 943 users and a selection of 1682 movies. You can download the dataset [here](http://files.grouplens.org/datasets/movielens/ml-100k.zip). We will use u.data and u.item files from the dataset.
References: https://grouplens.org/datasets/movielens/

ACKNOWLEDGEMENTS
==============================================

Thanks to Al Borchers for cleaning up this data and writing the
accompanying scripts.

PUBLISHED WORK THAT HAS USED THIS DATASET
==============================================

Herlocker, J., Konstan, J., Borchers, A., Riedl, J.. An Algorithmic
Framework for Performing Collaborative Filtering. Proceedings of the
1999 Conference on Research and Development in Information
Retrieval. Aug. 1999.

FURTHER INFORMATION ABOUT THE GROUPLENS RESEARCH PROJECT
==============================================

The GroupLens Research Project is a research group in the Department
of Computer Science and Engineering at the University of Minnesota.
Members of the GroupLens Research Project are involved in many
research projects related to the fields of information filtering,
collaborative filtering, and recommender systems. The project is lead
by professors John Riedl and Joseph Konstan. The project began to
explore automated collaborative filtering in 1992, but is most well
known for its world wide trial of an automated collaborative filtering
system for Usenet news in 1996.  The technology developed in the
Usenet trial formed the base for the formation of Net Perceptions,
Inc., which was founded by members of GroupLens Research. Since then
the project has expanded its scope to research overall information
filtering solutions, integrating in content-based methods as well as
improving current collaborative filtering technology.

Further information on the GroupLens Research project, including
research publications, can be found at the following web site:
        
        http://www.grouplens.org/

GroupLens Research currently operates a movie recommender based on
collaborative filtering:

        http://www.movielens.org/

DETAILED DESCRIPTIONS OF DATA FILES
==============================================

Here are brief descriptions of the data.

ml-data.tar.gz   -- Compressed tar file.  To rebuild the u data files do this:
                gunzip ml-data.tar.gz
                tar xvf ml-data.tar
                mku.sh

u.data     -- The full u data set, 100000 ratings by 943 users on 1682 items.
              Each user has rated at least 20 movies.  Users and items are
              numbered consecutively from 1.  The data is randomly
              ordered. This is a tab separated list of 
	         user id | item id | rating | timestamp. 
              The time stamps are unix seconds since 1/1/1970 UTC   

u.info     -- The number of users, items, and ratings in the u data set.

u.item     -- Information about the items (movies); this is a tab separated
              list of
              movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western |
              The last 19 fields are the genres, a 1 indicates the movie
              is of that genre, a 0 indicates it is not; movies can be in
              several genres at once.
              The movie ids are the ones used in the u.data data set.

u.genre    -- A list of the genres.

u.user     -- Demographic information about the users; this is a tab
              separated list of
              user id | age | gender | occupation | zip code
              The user ids are the ones used in the u.data data set.

u.occupation -- A list of the occupations.

u1.base    -- The data sets u1.base and u1.test through u5.base and u5.test
u1.test       are 80%/20% splits of the u data into training and test data.
u2.base       Each of u1, ..., u5 have disjoint test sets; this if for
u2.test       5 fold cross validation (where you repeat your experiment
u3.base       with each training and test set and average the results).
u3.test       These data sets can be generated from u.data by mku.sh.
u4.base
u4.test
u5.base
u5.test

ua.base    -- The data sets ua.base, ua.test, ub.base, and ub.test
ua.test       split the u data into a training set and a test set with
ub.base       exactly 10 ratings per user in the test set.  The sets
ub.test       ua.test and ub.test are disjoint.  These data sets can
              be generated from u.data by mku.sh.

allbut.pl  -- The script that generates training and test sets where
              all but n of a users ratings are in the training data.

mku.sh     -- A shell script to generate all the u data sets from u.data.

## Import Libraries

In [14]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

## Load Raitings

In [2]:
r_columns = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', header=None, usecols=range(3), names=r_columns)
ratings

       user_id  movie_id  rating
0          196       242       3
1          186       302       3
2           22       377       1
3          244        51       2
4          166       346       1
...        ...       ...     ...
99995      880       476       3
99996      716       204       5
99997      276      1090       1
99998       13       225       2
99999       12       203       3

[100000 rows x 3 columns]


## Load Movies

In [3]:
r_columns=['movie_id', 'title']
movies = pd.read_csv('ml-100k/u.item', encoding='iso-8859-1', sep='|', header=None, names=r_columns, usecols=range(2))
movies

      movie_id                                      title
0            1                           Toy Story (1995)
1            2                           GoldenEye (1995)
2            3                          Four Rooms (1995)
3            4                          Get Shorty (1995)
4            5                             Copycat (1995)
...        ...                                        ...
1677      1678                          Mat' i syn (1997)
1678      1679                           B. Monkey (1998)
1679      1680                       Sliding Doors (1998)
1680      1681                        You So Crazy (1994)
1681      1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

## Load Users

In [4]:
r_columns = ['user_id', 'age', 'gender', 'profession', 'zipcode']
users = pd.read_table('ml-100k/u.user', sep='|', header=None, names=r_columns)
users

     user_id  age gender     profession zipcode
0          1   24      M     technician   85711
1          2   53      F          other   94043
2          3   23      M         writer   32067
3          4   24      M     technician   43537
4          5   33      F          other   15213
..       ...  ...    ...            ...     ...
938      939   26      F        student   33319
939      940   32      M  administrator   02215
940      941   20      M        student   97229
941      942   48      F      librarian   78209
942      943   22      M        student   77841

[943 rows x 5 columns]

In [5]:
users.iloc[196]

user_id              197
age                   55
gender                 M
profession    technician
zipcode            75094
Name: 196, dtype: object

In [6]:
movies.iloc[241]

movie_id             242
title       Kolya (1996)
Name: 241, dtype: object

## Join Data

In [7]:
ratings = pd.merge(movies, ratings)
ratings

       movie_id                                      title  user_id  rating
0             1                           Toy Story (1995)      308       4
1             1                           Toy Story (1995)      287       5
2             1                           Toy Story (1995)      148       4
3             1                           Toy Story (1995)      280       4
4             1                           Toy Story (1995)       66       3
...         ...                                        ...      ...     ...
99995      1678                          Mat' i syn (1997)      863       1
99996      1679                           B. Monkey (1998)      863       3
99997      1680                       Sliding Doors (1998)      863       2
99998      1681                        You So Crazy (1994)      896       3
99999      1682  Scream of Stone (Schrei aus Stein) (1991)      916       3

[100000 rows x 4 columns]

In [8]:
## Data Visualisation

In [9]:
ratings.title.value_counts()

title
Star Wars (1977)                                583
Contact (1997)                                  509
Fargo (1996)                                    508
Return of the Jedi (1983)                       507
Liar Liar (1997)                                485
                                               ...
Tigrero: A Film That Was Never Made (1994)        1
Eye of Vichy, The (Oeil de Vichy, L') (1993)      1
Promise, The (Versprechen, Das) (1994)            1
To Cross the Rubicon (1991)                       1
Scream of Stone (Schrei aus Stein) (1991)         1
Name: count, Length: 1664, dtype: int64

In [10]:
ratings.movie_id.nunique()

1682

In [11]:
movies_group = ratings.groupby('title').agg({'rating': [np.size, np.sum, np.mean]})
movies_group

/tmp/ipykernel_34141/720912889.py:1: FutureWarning: The provided callable <function sum at 0x7f87c0269580> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  movies_group = ratings.groupby('title').agg({'rating': [np.size, np.sum, np.mean]})
/tmp/ipykernel_34141/720912889.py:1: FutureWarning: The provided callable <function mean at 0x7f87c026a660> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  movies_group = ratings.groupby('title').agg({'rating': [np.size, np.sum, np.mean]})

                                      rating
                                        size  sum      mean
title
'Til There Was You (1997)                  9   21  2.333333
1-900 (1994)                               5   13  2.600000
101 Dalmatians (1996)                    109  317  2.908257
12 Angry Men (1957)                      125  543  4.344000
187 (1997)                                41  124  3.024390
...                                      ...  ...       ...
Young Guns II (1990)                      44  122  2.772727
Young Poisoner's Handbook, The (1995)     41  137  3.341463
Zeus and Roxanne (1997)                    6   13  2.166667
unknown                                    9   31  3.444444
Á köldum klaka (Cold Fever) (1994)         1    3  3.000000

[1664 rows x 3 columns]

In [12]:
np.size, np.sum, np.mean

(<function size at 0x7f87c026d370>,
 <function sum at 0x7f87c0263a30>,
 <function mean at 0x7f87c026d970>)

In [13]:
np.size.__doc__

'\n    Return the number of elements along a given axis.\n\n    Parameters\n    ----------\n    a : array_like\n        Input data.\n    axis : int, optional\n        Axis along which the elements are counted.  By default, give\n        the total number of elements.\n\n    Returns\n    -------\n    element_count : int\n        Number of elements along the specified axis.\n\n    See Also\n    --------\n    shape : dimensions of array\n    ndarray.shape : dimensions of array\n    ndarray.size : number of elements in array\n\n    Examples\n    --------\n    >>> a = np.array([[1,2,3],[4,5,6]])\n    >>> np.size(a)\n    6\n    >>> np.size(a,1)\n    3\n    >>> np.size(a,0)\n    2\n\n    '

## Popular Movies

In [17]:
popular_1 = movies_group['rating']['size'] >= 100
popular_1

title
'Til There Was You (1997)                False
1-900 (1994)                             False
101 Dalmatians (1996)                     True
12 Angry Men (1957)                       True
187 (1997)                               False
                                         ...
Young Guns II (1990)                     False
Young Poisoner's Handbook, The (1995)    False
Zeus and Roxanne (1997)                  False
unknown                                  False
Á köldum klaka (Cold Fever) (1994)       False
Name: size, Length: 1664, dtype: bool

In [21]:
popular_movies = movies_group.sort_values(('rating','mean'), ascending=False)
popular_movies.head()

                                           rating
                                             size sum mean
title
They Made Me a Criminal (1939)                  1   5  5.0
Marlene Dietrich: Shadow and Light (1996)       1   5  5.0
Saint of Fort Washington, The (1993)            2  10  5.0
Someone Else's America (1995)                   1   5  5.0
Star Kid (1997)                                 3  15  5.0

In [22]:
grouped_sum = movies_group['rating']['sum'].sum()
grouped_sum

352986

In [23]:
popular_movies['percentage'] = movies_group['rating']['sum'].div(grouped_sum)*100
popular_movies

                                             rating          percentage
                                               size sum mean
title
They Made Me a Criminal (1939)                    1   5  5.0   0.001416
Marlene Dietrich: Shadow and Light (1996)         1   5  5.0   0.001416
Saint of Fort Washington, The (1993)              2  10  5.0   0.002833
Someone Else's America (1995)                     1   5  5.0   0.001416
Star Kid (1997)                                   3  15  5.0   0.004249
...                                             ...  ..  ...        ...
Eye of Vichy, The (Oeil de Vichy, L') (1993)      1   1  1.0   0.000283
King of New York (1990)                           1   1  1.0   0.000283
Touki Bouki (Journey of the Hyena) (1973)         1   1  1.0   0.000283
Bloody Child, The (1996)                          1   1  1.0   0.000283
Crude Oasis, The (1995)                           1   1  1.0   0.000283

[1664 rows x 4 columns]

In [24]:
popular_movies = popular_movies.sort_values('percentage', ascending=False)
popular_movies.head()

                               rating                 percentage
                                 size   sum      mean
title
Star Wars (1977)                  583  2541  4.358491   0.719859
Fargo (1996)                      508  2111  4.155512   0.598041
Return of the Jedi (1983)         507  2032  4.007890   0.575660
Contact (1997)                    509  1936  3.803536   0.548464
Raiders of the Lost Ark (1981)    420  1786  4.252381   0.505969

In [27]:
popular_movies['rank'] = popular_movies['percentage'].rank(ascending=False)

### Top 10 Movies

In [26]:
popular_movies = popular_movies.sort_values('rank')
popular_movies.head(10)

                                 rating                 percentage  rank
                                   size   sum      mean
title
Star Wars (1977)                    583  2541  4.358491   0.719859   1.0
Fargo (1996)                        508  2111  4.155512   0.598041   2.0
Return of the Jedi (1983)           507  2032  4.007890   0.575660   3.0
Contact (1997)                      509  1936  3.803536   0.548464   4.0
Raiders of the Lost Ark (1981)      420  1786  4.252381   0.505969   5.0
Godfather, The (1972)               413  1769  4.283293   0.501153   6.0
English Patient, The (1996)         481  1759  3.656965   0.498320   7.0
Toy Story (1995)                    452  1753  3.878319   0.496620   8.0
Silence of the Lambs, The (1991)    390  1673  4.289744   0.473956   9.0
Scream (1996)                       478  1645  3.441423   0.466024  10.0

## Plotting

In [29]:
plt.figure(figsize=(10, 6))
sns.barplot(x='percentage', y='title', data=popular_movies.head(10))
plt.title('Top 10 Movies')
plt.show()

ValueError: Could not interpret input 'title'